<template>
  <section class="gl-h-full gl-flex gl-flex-col gl-gap-6">
    <h2 class="gl-text-size-h2">Historical trends</h2>

    <gl-loading-icon v-if="pending" size="xl" />

    <scan-failed-to-load-alert v-else-if="errors.length > 0" :errors="errors" />

    <template v-else>
      <scan-history-chart :history="history" :rules="rules" />
    </template>
  </section>
</template>

<script>
import GlLoadingIcon from '@gitlab/ui/src/components/base/loading_icon/loading_icon.vue';
import ScanFailedToLoadAlert from '~/components/scan_failed_to_load_alert.vue';
import ScanHistoryChart from '~/components/scan_history_chart.vue';
import { getScansSummary, getRules } from '~/lib/api';

export default {
  name: 'HistoryPage',
  components: {
    GlLoadingIcon,
    ScanFailedToLoadAlert,
    ScanHistoryChart,
  },
  data() {
    return {
      history: null,
      rules: null,
    };
  },
  async fetch() {
    const [scans, rules] = await Promise.all([getScansSummary(), getRules()]);
    this.history = scans.history;
    this.rules = rules;
  },
  fetchOnServer: false,
  computed: {
    pending() {
      return this.$fetchState?.pending;
    },
    errors() {
      const { error } = this.$fetchState;
      return error ? [error] : [];
    },
  },
};
</script>
