<template>
  <div>
    <page-header />

    <main class="gl-p-6">
      <nuxt />
    </main>
  </div>
</template>

<script>
import PageHeader from '~/components/page_header.vue';

export default {
  name: 'BodyScrollLayout',
  components: {
    PageHeader,
  },
};
</script>
