<template>
  <div class="gl-border-b gl-mb-5 gl-relative">
    <div class="gl-mb-3 gl-flex gl-items-center gl-justify-between gl-gap-3">
      <h5 class="gl-min-w-0"><gl-truncate :text="details.filename" /></h5>
      <gl-icon :name="details.icon" :class="details.color" />
    </div>
    <gl-badge v-tooltip="details.message" :variant="details.variant" class="gl-mb-3">
      {{ details.ruleName }}
    </gl-badge>
    <div v-if="details.severity !== 'INFO'" class="gl-flex gl-items-center gl-gap-3">
      Issue:
      <finding-issue-link
        :path="details.path"
        :message="details.message"
        :rule-name="details.ruleName"
        :issue-label="details.issueLabel"
        :group-label="details.groupLabel"
      />
    </div>

    <div class="gl-flex gl-items-center gl-gap-3">
      File:
      <gl-link :href="details.url" target="_blank" class="gl-min-w-0"
        ><gl-truncate :text="details.pathWithLine" position="start"
      /></gl-link>
      <copy-button
        label="Copy path to clipboard"
        :text="details.path"
        size="small"
        class="gl-shrink-0"
      />
    </div>
    <gl-truncate-text
      :show-more-text="$options.i18n.showMoreText"
      :show-less-text="$options.i18n.showLessText"
      :lines="6"
      :mobile-lines="10"
    >
      <mark-lines
        :lines="source.extra.lines"
        :start="source.start"
        :end="source.end"
        class="gl-whitespace-pre-wrap gl-bg-gray-50 gl-p-3 gl-mt-3 gl-rounded-base gl-leading-20"
      />
    </gl-truncate-text>
  </div>
</template>

<script>
import GlBadge from '@gitlab/ui/src/components/base/badge/badge.vue';
import GlIcon from '@gitlab/ui/src/components/base/icon/icon.vue';
import GlLink from '@gitlab/ui/src/components/base/link/link.vue';
import GlTruncate from '@gitlab/ui/src/components/utilities/truncate/truncate.vue';
import GlTruncateText from '@gitlab/ui/src/components/utilities/truncate_text/truncate_text.vue';
import { GlTooltipDirective } from '@gitlab/ui/src/directives/tooltip';
import { shortId } from 'shared/rules.js';
import CopyButton from '~/components/copy_button.vue';
import FindingIssueLink from '~/components/finding_issue_link.vue';
import MarkLines from '~/components/mark_lines.vue';
import { GITLAB_REPO_WEB_URL } from '~/lib/constants';

const severityMap = {
  ERROR: { variant: 'danger', icon: 'status-failed', color: 'gl-text-red-500' },
  WARNING: { variant: 'warning', icon: 'warning-solid', color: 'gl-text-orange-500' },
  INFO: { variant: 'success', icon: 'status-success', color: 'gl-text-green-500' },
  DEFAULT: { variant: 'neutral', icon: 'question', color: 'gl-text-gray-500' },
};

export default {
  name: 'ScanFinding',
  components: {
    CopyButton,
    FindingIssueLink,
    GlBadge,
    GlIcon,
    GlLink,
    GlTruncate,
    MarkLines,
    GlTruncateText,
  },
  directives: {
    tooltip: GlTooltipDirective,
  },
  i18n: {
    showMoreText: 'Show more',
    showLessText: 'Show less',
  },
  props: {
    index: {
      type: Number,
      required: true,
    },
    source: {
      type: Object,
      required: true,
    },
    commit: {
      type: String,
      required: true,
    },
  },
  computed: {
    details() {
      const { extra, path } = this.source;
      const { severity, message, group } = extra;
      const { line: start } = this.source.start;
      const { line: end } = this.source.end;
      const { issueLabel } = extra.metadata;
      const pathWithLine = start === end ? `${path}#L${start}` : `${path}#L${start}-${end}`;
      const [filename] = this.source.path.split('/').reverse();
      const { variant, icon, color } = severityMap[severity] ?? severityMap.DEFAULT;

      return {
        issueLabel,
        filename,
        icon,
        color,
        message,
        groupLabel: group,
        path,
        pathWithLine,
        ruleName: shortId(this.source.check_id),
        severity,
        url: `${GITLAB_REPO_WEB_URL}/-/blob/${this.commit}/${pathWithLine}`,
        variant,
      };
    },
  },
};
</script>
